ul{
    display: flex;
    flex-direction: row !important;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}
.titr{
    font-family: 'Alegreya';
    font-weight: 600;
    font-size: 20px;
    color: white;
    list-style: none;
    text-align: center;
    
    
}
.list-items{
    color: gray;
    font-family: 'Alegreya';
    
}
.list-items:hover{
    color: white;
}
@media only screen and (max-width:600px){
    ul{
        flex-direction: column;
    }
}